<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.admin.mapper.adminMapper">

	<!-- <resultMap id="articlesResult" type="com.ezen.board.dto.ArticleVO"> -->

	
	<resultMap id="saleArticlesResult" type="saleArticleDTO">
		<result property="rnum"				column="recNum"/>
		<result property="level"			column="lvl"/>
		<result property="articleNO"		column="articleNO"/>
		<result property="userId"			column="userId"/>
		<result property="write_date"		column="write_date"/>
		<result property="title"			column="title"/>
		<result property="content"			column="content"/>
		<result property="p_code"			column="p_code"/>
		<result property="purpose"			column="purpose"/>
		<result property="view"				column="view"/>
		<result property="thumbnail"		column="thumbnail"/>
		<result property="price"			column="price"/>
	</resultMap>
	
	<resultMap id="oneononeResult" type="ccenterDTO">
		<result property="articleNo"		column="articleno"/>
		<result property="userId"			column="userid"/>
		<result property="email"			column="email"/>
		<result property="writeDate"		column="writedate"/>
		<result property="title"			column="title"/>
		<result property="content"			column="content"/>

	</resultMap>
	
	<resultMap id="reportResult" type="reportDTO">
		<result property="articleNo"		column="articleno"/>
		<result property="reporter"			column="reporter"/>
		<result property="reportedUser"		column="reportedUser"/>
		<result property="writeDate"		column="writedate"/>
		<result property="reason"			column="reason"/>
		<result property="content"			column="content"/>

	</resultMap>	
		
	
	<!-- 1:1 문의하기 전체 조회 + 검색 -->
	<select id="listOneOnOne" resultMap="oneononeResult">
		<![CDATA[
			SELECT	 *
			FROM	ask
			WHERE	1=1	
		]]>
			<include refid="Search"/>
		<![CDATA[
			ORDER BY articleNo DESC
		]]>
	</select>
	
	<!-- 신고하기 전체 조회 + 페이징 --> <!-- order by 뒤에 desc 기입하면 최신순 -->
	<select id="listReportAnswer" parameterType="com.ezen.admin.dto.ReportCriteria" resultMap="reportResult">
		<![CDATA[
			select *
				from (
				    SELECT	ROWNUM AS recNum, articleNo, reporter, reportedUser, writeDate, reason, content
				    FROM (
				            SELECT	articleNo, reporter, reportedUser, writeDate, reason, content
				            FROM	report
				            ORDER BY writeDate 
				        )
				    )
				WHERE recNum BETWEEN (#{page}-1) * #{perPageNum} + 1 AND #{page} * #{perPageNum}
				ORDER BY recNum
			
		]]>
	</select>
	
	<!-- re -->
	<!-- 1:1 문의하기 글 삭제 -->
	<delete id="deleteArticle" parameterType="int">
		<![CDATA[
			DELETE FROM ask
			WHERE articleNo = #{articleNo}
		]]>
	</delete>
	
	<!-- 관리자 회원목록 전체 조회 + 페이징처리 + 검색 -->
	<select id="memberList" parameterType="com.ezen.admin.dto.Criteria" resultType="com.ezen.member.dto.MemberDTO">
		<![CDATA[
			SELECT	 recNum, userId, pw, repw, name, nickName, regDate, tel, email, address, zipCode
			FROM(
				SELECT	ROWNUM AS recNum, userId, pw, repw, name, nickName, regDate, tel, email, address, zipCode
				FROM	members
				WHERE	1=1
		]]>
				<include refid="Search"/>
		<![CDATA[
				ORDER BY recNum)
			WHERE recNum BETWEEN (#{page}-1) * #{perPageNum} + 1 AND #{page} * #{perPageNum}
		]]>
	</select>
	
	<!-- 관리자 회원목록 상세정보 불러오기 -->
	<select id="detail" parameterType="String" resultType="com.ezen.member.dto.MemberDTO">
		SELECT	* 
		FROM	members
		WHERE	userId = #{userId}
	</select>
	
	<!-- 관리자 회원목록 상세정보 수정하기 -->
	<update id="update" parameterType="com.ezen.member.dto.MemberDTO">
		UPDATE	members
		SET		pw			= #{pw},
				repw		= #{repw},
				name		= #{name},
				nickname	= #{nickname},
				tel			= #{tel},
				email		= #{email},
				address		= #{address}
		WHERE	userId		= #{userId}
	</update>
	
	<!-- 관리자 회원 삭제하기 -->
	<delete id="delete" parameterType="com.ezen.member.dto.MemberDTO">
		DELETE FROM members WHERE userId = #{userId}
	</delete>
	
	<!-- 관리자탭 회원 7일 정지 버튼 -->
	<insert id="Asuspension" parameterType="String">
		INSERT INTO accountStatus VALUES (#{userId}, 'N1', SYSDATE+7)
	</insert>
	
	<!-- 관리자탭 회원 영구 정지 버튼 -->
	<insert id="Psuspension" parameterType="String">
		INSERT INTO accountStatus VALUES (#{userId}, 'N2', SYSDATE)
	</insert>
	
	<!-- 게시글 검색조건 -->
	<sql id="Search">
		<if test="searchType != null">
			<if test="searchType == 'memberListAll'.toString()">AND (
															userId	LIKE '%' || #{keyword} || '%' OR
															tel 	LIKE '%' || #{keyword} || '%' OR
															address	LIKE '%' || #{keyword} || '%' OR
															regDate	LIKE '%' || #{keyword} || '%'
													)
			</if>
			<if test="searchType == 'inquiryAll'.toString()">AND (
															userId	LIKE '%' || #{keyword} || '%' OR
															title	LIKE '%' || #{keyword} || '%' OR
															content	LIKE '%' || #{keyword} || '%'
													)
			</if>
			<if test="searchType == 'i'.toString()">AND		userId	LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tel'.toString()">AND	tel		LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'addr'.toString()">AND	address	LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'd'.toString()">AND		regDate	LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 't'.toString()">AND		title	LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND		content	LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND		userId	LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	<!-- 회원목록 페이징(게시글수 구하기: cri를 가지고 검색한 총 게시글의 수) -->
	<select id="memberListTotalCount" parameterType="com.ezen.admin.dto.Criteria" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*)
			FROM members
			WHERE 1=1
		]]>
			<include refid="Search"/>
	</select>
	
	<!-- 신고하기 페이징(게시글수 구하기: rcri를 가지고 검색한 총 게시글의 수) -->
	<select id="reportAnswerTotalCount" parameterType="com.ezen.admin.dto.ReportCriteria" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*)
			FROM report
			WHERE 1=1
		]]>
	</select>


</mapper>


