<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.auction.mappers.auctionMapper">
 

   	<!-- 새로운 게시글 사용할 번호 추출하기  -->
 	<select id ="selectNewAucCode" resultType="int">
 		<![CDATA[
 			SELECT nvl(max(aucCode), 1) from auction
 		]]>
 	</select>
 	
   	<!-- 새로운 게시글 추가하기 -->
  	<insert id="insertNewArticle" parameterType="java.util.Map">
  		<![CDATA[
  			insert into 
  			auction (aucCode, minprice, maxPrice, writeDate, title, content, nowBid, 
  					bidRate, aucId, status, deadline)
  			values (#{aucCode}, #{minprice}, #{maxPrice}, sysdate, #{title}, #{content}, #{nowBid}, 
  					#{bidRate}, #{aucId}, 0, SYSDATE+#{deadline})
  		]]>
  	</insert>
  	
  	
   	<!-- 새로운 게시글 이미지에 사용할 번호 추출하기  -->
 	<select id ="selectNewImgFileNo" resultType="int">
 		<![CDATA[
 			<![CDATA[
 			SELECT nvl(max(imgNo), 1) from aucImg
 		]]>
 	</select>
  	
  	<!-- 새로운 게시글에 이미지 추가하기 -->
 	<insert id="insertNewImg" parameterType="java.util.Map">
 		<foreach item="item" collection="list" open="INSERT ALL"
 			separator=" " close="SELECT * FROM DUAL">
 			INTO aucImg (imgNo, imgName, aucCode, regDate)
 			values (#{item.imgNo}, #{item.imgName}, #{item.aucCode}, sysdate)	
 		</foreach>
 	</insert>
	
	<!-- 메인페이지 게시글 resultType -->
	<resultMap id="aucArticle" type="auctionDTO">
		<result property="aucCode" column="aucCode"/>
		<result property="minPrice" column="minPrice"/>
		<result property="maxPrice" column="maxPrice"/>
		<result property="writeDate" column="writeDate"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="nowBid" column="nowBid"/>
		<result property="bidRate" column="bidRate"/>
		<result property="aucId" column="aucId"/>
		<result property="status" column="status"/>
		<result property="deadline" column="deadline"/>	
	</resultMap>
	
	<!-- 메인페이지 게시글 Query -->
    <select id="pullArticleInfo" resultMap="aucArticle">
		<![CDATA[
			SELECT   AUCCODE, MINPRICE, MAXPRICE, WRITEDATE, TITLE, CONTENT, NOWBID, BIDRATE, AUCID, STATUS, DEADLINE
			FROM   auction
		]]>
    </select>
    
	<!-- 메인페이지 image resultType -->
	<resultMap id="aucImage" type="aucImgDTO">
		<result property="imgNo" column="imgNo"/>
		<result property="imgName" column="imgName"/>
		<result property="regDate" column="regDate"/>
		<result property="aucCode" column="aucCode"/>
	</resultMap>
   
	<!-- 메인페이지 image Query -->
    <select id="pullArticleImg" resultMap="aucImage">
		<![CDATA[
			SELECT IMGNO, IMGNAME, REGDATE, AUCCODE
			FROM aucImg
		]]>
    </select>
   
   <!-- 디테일페이지 게시글 Query -->
   <select id="pullArticleInfoDetail" parameterType="int" resultType="auctionDTO">
   		<![CDATA[
   			SELECT *
   			FROM auction
   			WHERE aucCode = #{aucCode}
   		]]>
   </select>
   
   <!-- 디테일페이지 image Query -->
   <select id="pullArticleImgDetail" parameterType="int" resultType="aucImgDTO">
     <![CDATA[
     	SELECT *
     	FROM aucImg
     	WHERE aucCode = #{aucCode} 
     ]]>
   </select>
   
   <!-- 삭제하기 Query -->
	<delete id="deleteAuction" parameterType="int">
		<![CDATA[
		DELETE FROM auction
		WHERE  aucCode = #{aucCode}
		]]>
	</delete>

   
</mapper>
