<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ezen.ccenter.mappers.ccenterMapper">

	 <!-- 1:1 문의글 등록 -->
    <insert id="addNewAsk" parameterType="java.util.Map">
		<![CDATA[
			insert into 
			Ask	(articleNo, userId, email, writeDate, title, content) 
			values (#{articleNo}, #{userId}, #{email}, NOW(), #{title}, #{content})
		]]>
	</insert>
	
	<select id="selectNewArticleNO" resultType="int">
		<![CDATA[
		SELECT	IFNULL(MAX(articleNo), 0) + 1
		FROM	Ask
		]]>
	
	</select>
	
	 <!-- 신고하기 문의글 등록 -->
    <insert id="addNewReport" parameterType="java.util.Map">
		<![CDATA[
			insert into 
			Report	(articleNo, reporter, reportedUser, writeDate, reason, content) 
			values (#{articleNo}, #{reporter}, #{reportedUser}, NOW(), #{reason}, #{content})
		]]>
	</insert>
	
	<select id="selectArticleNO" resultType="int">
		<![CDATA[
		SELECT	IFNULL(MAX(articleNo), 0) + 1
		FROM	Report
		]]>
	
	</select>
</mapper>