<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.chat.mapper.ChatMapper">

	<resultMap id="chatResult" type="chatDTO">
		<result property="chatId"				column="chatId"/>
		<result property="artNo"			column="artNo"/>
		<result property="fromId"		column="fromId"/>
		<result property="toId"			column="toId"/>
		<result property="chatContent"		column="chatContent"/>
		<result property="chatTime"			column="chatTime"/>
	</resultMap>
	
	<resultMap id="chatListResult" type="chatListDTO">
		<result property="chatId"				column="chatId"/>
		<result property="artNo"			column="artNo"/>
		<result property="saler"		column="saler"/>
		<result property="buyer"			column="buyer"/>
		<result property="status"			column="status"/>
	</resultMap>
	
	<select id="selectChat" resultType="com.ezen.chat.dto.ChatDTO">
		select chatcontent
		from chat
		order by chattime
	</select>
	
	<!-- 채팅넣기 -->
	<insert id="insertContent" parameterType="com.ezen.chat.dto.ChatDTO">
		insert into chat values(#{chatId},#{artNo},#{fromId},#{toId},#{chatContent},sysdate)
	</insert>
	
	<!-- 채팅누른 아티클번호 가져오기 -->
	<select id="getArticle" parameterType="int" resultType="com.ezen.board.dto.ArticleVO">
		select * from article_buy
		where articleNo = #{artNo}
	</select>
	
	<!-- 채팅방 chatList에 정보넣기 -->
	<insert id="insertChatList" parameterType="com.ezen.chat.dto.ChatListDTO">
		insert into chatList values(#{chatId},#{artNo},#{seller},#{buyer},#{status})
	</insert>
	
	<!-- 새로운 채팅방번호 번호 추출하기-->
	<select id="selectNewChatId" resultType="int">
		<![CDATA[
		select nvl(max(chatid),0)+1
		from chatlist
		]]>
	</select>
	
	<!-- 채팅방이 이미 있는지 검사 -->
	<select id="checkChatId" resultType="int">
		SELECT	COUNT(*)
		FROM	chatlist
		WHERE	artNo = #{artNo} and seller = #{seller} and buyer=#{buyer}
	</select>
	
	<!-- 채팅방 목록 보여주기 -->
	<select id="listChat" parameterType="chatListDTO" resultType="chatListDTO">
		select * from chatlist
		where seller=#{userId} or buyer=#{userId}
	</select>
	
	<!-- 채팅한 내용 다 리스트에 넣어서 보내기 -->
	<select id="chatView" parameterType="int" resultType="chatDTO">
		select * from chat
		where chatId=#{chatId}
		order by chatTime
	</select>
	
	<!-- 챗 아이디 찾기 -->
	<select id="findChatId" resultType="int">
		SELECT	chatId
		FROM	chatlist
		WHERE	artNo = #{artNo} and seller = #{seller} and buyer=#{buyer}
	</select>
	
	<!-- 아티클 넘버 챗아이디로 찾기 -->
	<select id="findChatListFromChatId" resultType="chatListDTO">
		select *
		from chatlist
		where chatId = #{chatId}
	</select>
	
	<!-- fromId로 chatDTO 찾기 -->
	
	<select id="findContent" resultType="chatDTO">
		<![CDATA[
		select *
		from (select * from chat where toid = #{fromId} and chatid=#{chatId} order by chattime desc)
		where rownum <= 1
		]]>
	</select>
	
	<!-- artNo으로 articleVO끌어오기 (buy) -->
	<select id="findArticleVOFromArtNoB" parameterType="int" resultType="articleVO">
		<![CDATA[
		
			SELECT	*
			FROM	article_buy
			WHERE	articleNO = #{artNo}
			
		]]>
	</select>
	
	<!-- artNo으로 articleVO끌어오기 (sale) 누군가가 반대로 해놔서 반대로 해야함-->
	<select id="findArticleVOFromArtNoS" parameterType="int" resultType="articleVO">
		<![CDATA[
			SELECT	*
			FROM	article_sale
			WHERE	articleNO = #{artNo}
		]]>
	</select>
	
	
	
	
	
	
</mapper>
