<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.chat.mapper.ChatMapper">

	<resultMap id="chatResult" type="chatDTO">
		<result property="chatId"				column="chatId"/>
		<result property="artNo"			column="artNo"/>
		<result property="fromId"		column="fromId"/>
		<result property="toId"			column="toId"/>
		<result property="chatContent"		column="chatContent"/>
		<result property="chatTime"			column="chatTime"/>
	</resultMap>
	
	<resultMap id="chatListResult" type="chatListDTO">
		<result property="chatId"				column="chatId"/>
		<result property="artNo"			column="artNo"/>
		<result property="saler"		column="saler"/>
		<result property="buyer"			column="buyer"/>
	</resultMap>
	
	<select id="selectChat" resultType="com.ezen.chat.dto.ChatDTO">
		select chatcontent
		from chat
		order by chattime
	</select>
	
	<!-- 채팅넣기 -->
	<insert id="insertContent" parameterType="com.ezen.chat.dto.ChatDTO">
		insert into chat values(1,#{artNo},#{fromId},#{toId},#{chatContent},sysdate)
	</insert>
	
	<!-- 채팅누른 아티클번호 가져오기 -->
	<select id="getArticle" parameterType="int" resultType="com.ezen.board.dto.ArticleVO">
		select * from article_buy
		where articleNo = #{artNo}
	</select>
	
	<!-- 채팅방 chatList에 정보넣기 -->
	<insert id="insertChatList" parameterType="com.ezen.chat.dto.ChatListDTO">
		insert into chatList values(#{chatId},#{artNo},#{seller},#{buyer})
	</insert>
	
	<!-- 새로운 채팅방번호 번호 추출하기-->
	<select id="selectNewChatId" resultType="int">
		<![CDATA[
		select nvl(max(chatid),0)+1
		from chatlist
		]]>
	</select>
	
	
	
	
	
</mapper>
