<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.board.mappers.infoMapper">

	<!-- <resultMap id="articlesResult" type="com.ezen.board.dto.ArticleVO"> -->
	<resultMap id="articlesResult" type="buyArticleDTO">
		<result property="rnum"				column="recNum"/>
		<result property="level"			column="lvl"/>
		<result property="articleNO"		column="articleNO"/>
		<result property="userId"			column="userId"/>
		<result property="write_date"		column="write_date"/>
		<result property="title"			column="title"/>
		<result property="content"			column="content"/>
		<result property="p_code"			column="p_code"/>
		<result property="purpose"			column="purpose"/>
		<result property="view"				column="view"/>
		<result property="thumbnail"		column="thumbnail"/>
		<result property="price"			column="price"/>
		<result property="nickname"			column="nickname"/>
		<result property="email"			column="email"/>
	</resultMap>
	
	<!-- 전체 게시글 수 구하기 (Paging 처리) -->
	<select id="infoListTotalCount1" parameterType="com.ezen.mypage.dto.MarketInfo" resultType="Integer">
		<![CDATA[
		 	SELECT	COUNT(*)
		 	FROM	article_buy
		 	WHERE	1=1
		 	AND 	userId = #{userId}
		]]>
	</select>
	
	<select id="infoList1" parameterType="com.ezen.mypage.dto.MarketInfo" resultMap="articlesResult">
	<![CDATA[
	SELECT	*
	FROM	article_buy
	WHERE userId = #{userId}
	and rownum BETWEEN 1 and 3 * #{buycount}
	order by sysdate desc
 	]]>
	</select>

	<!-- ==================================================================================================================================================== -->
	
	<!-- 전체 게시글 수 구하기 (Paging 처리) -->
	<select id="infoListTotalCount2" parameterType="com.ezen.mypage.dto.MarketInfo" resultType="Integer">
		<![CDATA[
		 	SELECT	COUNT(*)
		 	FROM	article_sale
		 	WHERE	1=1
		 	AND 	userId = #{userId}
		]]>
	</select>

	<select id="infoList2" parameterType="com.ezen.mypage.dto.MarketInfo" resultMap="articlesResult">
	<![CDATA[
	SELECT	*
	FROM	article_sale
	WHERE userId = #{userId}
	and rownum BETWEEN 1 and 3 * #{salecount}
	order by sysdate desc
 	]]>
	</select>
	
	
	
	
</mapper>


