<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.mypage.mappers.mypageMapper">
   
   <!-- 캘린더 일정 조회 -->
   <select id="calendarlist" parameterType="String" resultType="com.ezen.mypage.dto.CalendarDTO">
		SELECT * FROM Calendar 
		WHERE userid = #{userId}
   </select>
   
   <insert id="insertcalendar" parameterType="com.ezen.mypage.dto.CalendarDTO">
   		INSERT INTO Calendar 
   		VALUES ( (SELECT IFNULL(max(CALENDARID),0) FROM Calendar) + 1, #{userId}, #{articleId}, #{status}, #{schedule}, #{contents})   		
   </insert>
   <delete id="deletecalendar" parameterType="int">
   		DELETE FROM Calendar WHERE calendarId = #{calId}
   </delete>
</mapper>